In [1]:
#contoh-contoh variable

a = 10 #Integer
b = 3.14 #Float
c = "A" #String
d = "Software Engineer" #String
e = 'A' #String
f = "Software Engineer" #String
g = True #Boolean
h = False #Boolean
i = [] #List
j = [1,2,3] #List
k = {} #Dictionary
l = () #Tuple

In [7]:
#Print berguna untuk debug

print(d)
print(2+4+2)
print("Hello World!")
print(j)

Software Engineer
8
Hello World!
[1, 2, 3]

In [10]:
nama = "Ren"
umur = 20
tempat = "Jambi"

In [13]:
#seperti scanf di c
nama = input()

Renaldo

In [14]:
#conatination
print("Hai, namaku adalah " + nama)
print("Hai, namaku adalah {}".format("Ren"))
print("Hai, namaku adalah {}".format(nama))

Hai, namaku adalah Renaldo
Hai, namaku adalah Ren
Hai, namaku adalah Renaldo

In [25]:
print("Hai, namaku adalah " + nama + ", umurku " + str(umur))
print("Hai, namaku adalah ", nama ,", umurku ", umur)
print("Hai, namaku adalah {}, umurku {}, saya tinggal di {}".format(nama, umur, tempat)) #Recommended

Hai, namaku adalah Renaldo, umurku 20
Hai, namaku adalah  Renaldo , umurku  20
Hai, namaku adalah Renaldo, umurku 20, saya tinggal di Jambi

In [26]:
import math
a = 10
b = 10
#If else

## Conditional Statement
a == b
a != b
a < b
a <= b
a > b
a >= b
True and True
False or True 

##Operator
a + b
a - b
a * b
a / b # 10 / 10 = 1.0 --> Float Division
a // b # 10 // 10 = 1 --> Integer Division
a ** b # 10^10 = 100
a % b # Modulus
a ** (1/2) # akar variable a, dimana a = 10
math.sqrt(a) # akar variabel a
math.sin(a)
math.tan(a)
math.cos(a)
math.tanh(a)
math.sinh(a)
math.cosh(a)
math.log(a)

2.302585092994046

In [27]:
if a == 10:
  print("a sama dengan 10")
elif a > 10:
  print("a lebih besar dari 10")
else:
  print("a kurang dari 10")
  print("ini diluar if")

a sama dengan 10

In [ ]:
import math
math.sin(360)